<h2>SIGN UP</h2>

<form id="form-product" action="http://localhost:8080/api/signup" method="POST" class="container">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label">Apellido:</label>
    <input type="text" class="form-control" id="lastname" name="lastname" />
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Edad:</label>
    <input type="text" class="form-control" id="age" name="age" />
  </div>

  <div class="mb-3">
    <label for="number" class="form-label">Número de teléfono:</label>
    <input type="text" class="form-control" id="number" name="number" />
  </div>
  
  <div class="mb-3">
    <label for="address" class="form-label">Dirección:</label>
    <input type="text" class="form-control" id="address" name="address" />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" />
  </div>

  <div class="mb-3">
    <label for="avatar" class="form-label">URL avatar:</label>
    <input type="text" class="form-control" id="avatar" name="avatar" />
  </div>

    {{!-- <div class="mb-3">
    <label for="avatar" class="form-label">Avatar/Foto de Perfil</label>
    <input type="file" class="form-control" id="avatar" name="avatar" />
  </div> --}}

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>

  <button class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">Registrarme</button>
</form>

  {{!-- <a class="btn btn-primary" href="http://localhost:8080/auth/facebook"> Iniciar Facebook</a> --}}


{{!-- <div id="session-success"> --}}

</div>